body {
  color: #686868;
  font-family: "Lora", Georgia, sans-serif;
}

* {
  box-sizing:border-box;
}

a {
  color: #5D5F86;
  text-decoration: none;
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 23px;
}

.links {
  position: fixed;
  left: 102px;
  top: 170px;
  z-index: 100;
}

.links li {
  height: 35px;
  width: 35px;
  line-height: 35px;
  border-radius: 100%;
  background: #fff;
  margin-bottom: 20px;
  text-align: center;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
          transition: transform 0.2s ease-in-out;
}

.links li .icon {
  display: block;
  line-height: 35px;
}

.links li:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.logo img {
  position: fixed;
  z-index: 1000;
  left: 90px;
  top: 90px;
  height: 60px;
  width: 60px;
  opacity: 0.65;
  -webkit-transition: all 2s cubic-bezier(0.025, 0.970, 0.395, 1.000);
          transition: all 2s cubic-bezier(0.025, 0.970, 0.395, 1.000);
}

.logo img:hover {
  opacity: 1;
}

.blog-main h1, .blog-main .h1,
.blog-main h2, .blog-main .h2,
.blog-main h3, .blog-main .h3,
.blog-main h4, .blog-main .h4,
.blog-main h5, .blog-main .h5,
.blog-main h6, .blog-main .h6 {
  font-family: "proxima-nova", Arial, sans-serif;
  margin-bottom: 20px;
}

.blog-main h1, .blog-main .h1 {
  margin-bottom: 0;
}

.blog-main h1{
  text-align: left;
}

pre, ul {
  margin-bottom: 20px;
}

.blog-main.single.container {
  padding: 70px 0px 26px 0px;
}

.container {
  max-width: 820px;
  margin: auto;
}

.blog-main {
  text-align: justify;
  line-height: 1.5;
  max-width: none;
}

.blog-main .value {
  position: relative;
  background: #9494AF;
  border-radius: 3px;
  color: #FFF;
  padding: 4px 10px 4px 36px;
  display: inline-block;
  font-size: 16px;
  margin: 20px 0;
}

.blog-main .value::before {
  content: '';
  position: absolute;
  left: 8px;
  font-weight: bold;
}

/* Blog header. */

.blog-header {
  height: 85px;
  position: relative;
  font-weight: 400;
  background-color: #fff;
  background-size: cover;
  color: #fff;
}

.blog-header h1 {
  font-family: "proxima-nova", Arial, sans-serif;
  font-size: 62px;
  line-height: 65px !important;
  font-weight: 300;
}

.blog-header.home h1 {
  color: #28303B;
}

.blog-header.home h1 a {
  position: relative;
  color: #28303B;
  display: inline-block;
  -webkit-transition: all .6s cubic-bezier(0.025, 0.970, 0.395, 1.000);
          transition: all .6s cubic-bezier(0.025, 0.970, 0.395, 1.000);
}

.blog-header.home h1 a:hover {
  color: #E72B1E;
}

.blog-header.home h1 a:hover::after {
  background-color: #E72B1E;
}

.blog-header.home h1 strong {
  color: #E72B1E;
  display: block;
}

.blog-header.home h1 em {
  display: inline-block;
  font-style: normal;
  width: 60%;
}

.blog-header .wrapper {
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.blog-header .blog-description {
  font-family: 'Lora', serif;
  margin-top: 20px;
  font-size: 18px;
  color: #67707E;
  line-height: 28px;
}

.blog-header .meta {
  opacity: 0.7;
}

.blog-header.author, .blog-header.category {
  height: 50vh;
}

.blog-header.single, .blog-header.home {
  height: 100vh;
}

/* Blog header for single blog post. */

.blog-header .date + .author::before {
  content: ',';
  padding-right: 6px;
}

/* Blog header for author page. */

.blog-header.author {
  height: 50vh;
  text-align: center;
}

.blog-header.author .meta a {
  color: #FFF;
}

.blog-header.author .meta ul {
  padding: 0;
}

.blog-header.author .meta li:not(:first-child)::before {
  content: '・';
  padding-right: 10px;
}

.blog-header.author .meta li {
  display: inline;
  padding-right: 10px;
}

.blog-header.author .image {
  border-radius: 50%;
  background-size: cover;
  margin: auto;
  background-color: #FFF;
  position: relative;
  border: none;
}

#main_img{
  display: block;
  width: 100%;
}

.blog-header.author .image::before {
  position: absolute;
  content: '';
  width: 143px;
  height: 143px;
  display: inline-block;
  background: #5D5F86;
  border-radius: 50%;
  top: 0;
  left: 0;
  z-index: -1;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Blog header for category page. */

.blog-header.category {
  text-align: center;
}

/* Blog header for tag page. */

.blog-main .value.tag::before {
  font-family: 'StarterKit';
  content: '\e004';
}

/* Blog header for archive page. */

.blog-main .value.archive::before {
  font-family: 'StarterKit';
  content: '\e00A';
}

/* Blog header for search page. */

.blog-main .value.search {
  padding-left: 10px;
}

/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/*
 * Blog posts
 */

.blog-main pre, .blog-main .monospace {
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

.blog-main.single a {
  text-decoration: none;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.8) 75%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.8) 75%);
  text-decoration: none;
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 23px;
}

.blog-post {
  height: 100vh;
}

.blog-post .container,
.blog-header.single .container {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.blog-post .left,
.blog-header.single .left {
  position: relative;
  z-index: 100;
  width: 70%;
}

.blog-post .right,
.blog-header.single .right {
  width: 15%;
}

.blog-post .right img {
  position: absolute;
  max-width: 750px;
  right: -170px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.blog-post .shortlede {
  display: inline-block;
  font-family: 'Lora', serif;
  padding-top: 20px;
  color: #fff;
}

.previous-post, .next-post {
  text-decoration: underline;
  font-size: 16px;
}

.previous-post + .next-post {
  margin-left: 20px;
}

.wio-link img {
  margin-top: 9px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wio-link ~ .blog-post-title {
  padding-right: 30px;
}

.blog-post-meta a {
  color: #9494AF;
}

.blog-post-title {
  display: block;
  font-size: 62px;
  color: #FFFFFF;
  font-weight: 300;
}

.blog-post-title h1 {
}

.blog-post-name {
  opacity: 0.7;
  font-family: 'proxima-nova', Arial, sans-serif;
  font-size: 18px !important;
  color: #FFFFFF !important;
  display: inline-block;
  font-weight: 600 !important;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  padding-bottom: 10px;
  margin-bottom: 40px !important;
  border-bottom: 4px solid rgba(255, 255, 255, 0.5);
  margin-top: 0 !important;
}

.blog-post-meta {
  margin-bottom: 8px;
}

.blog-post-meta > *, .blog-post-meta .tags::before, .blog-post-meta .categories::before, .blog-post-meta .author::before {
  color: #9494AF;
}

.blog-post-meta .tags::before, .blog-post-meta .categories::before, .blog-post-meta .author::before {
  margin-left: 14px;
  margin-right: 4px;
  vertical-align: bottom;
}

.blog-post-meta .tags::before {
  font-family: 'StarterKit';
  content: '\e004';

}

.blog-post-meta .categories::before {
  font-family: 'StarterKit';
  content: '\e003';
}

.blog-post-meta .author::before {
  font-family: 'StarterKit';
  content: '\e005';
}

.blog-post-meta span:first-child {
  margin-left: 0;
}

/*
 * Footer
 */

.blog-footer {
  box-shadow: 0 -1px 1px rgba(0,0,0,0.1);
  color: #2F3163;
}

.blog-footer p:last-child {
  margin-bottom: 0;
}

.blog-footer.single {
  min-height: 4rem;
  position: fixed;
  bottom: -64px;
  overflow: hidden;
  width: 100%;
  background-color: #FFF;
  opacity: 0;
  -webkit-transition: all 500ms cubic-bezier(0.025, 0.970, 0.395, 1.000);
  transition: all 500ms cubic-bezier(0.025, 0.970, 0.395, 1.000);
  -webkit-transition-timing-function: cubic-bezier(0.025, 0.970, 0.395, 1.000);
  transition-timing-function: cubic-bezier(0.025, 0.970, 0.395, 1.000);
}

.blog-footer.single.fade-in {
  opacity: 1;
  -ms-transform: translate3d(0, -64px, 0);
  -webkit-transform: translate3d(0, -64px, 0);
  transform: translate3d(0, -64px, 0);
}

.blog-footer.single {
  text-align: center;
}

.blog-footer.single .menu {
  font-size: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
}

.blog-footer.single .menu::before {
  font-family: 'StarterKit';
  content: '\e009';
}

.blog-footer.single .previous {
  text-align: left;
  float: left;
}

.blog-footer.single .previous .label::before {
  font-family: 'StarterKit';
  content: '\e001';
}

.blog-footer.single .next {
  float: right;
  text-align: right;
}

.blog-footer.single .next .label::after {
  font-family: 'StarterKit';
  content: '\e002';
  margin-left: 15px;
}

.blog-footer.single .previous, .blog-footer.single .next {
  display: inline-block;
  max-width: 46vw;
}

.blog-footer.single .label {
  color: #adadad;
}

.blog-footer.single .menu {
  color: #6F6F6F;
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}

.blog-footer.single .menu:hover {
  color: #515151;
}

.blog-footer.single .previous .label,
.blog-footer.single .next .label {
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}

.blog-footer.single .previous .label:hover,
.blog-footer.single .next .label:hover {
  color: #6F6F6F;
}

.blog-footer.single .previous .label::before {
  margin-right: 5px !important;
}

.blog-footer.single .next .label::after {
  margin-left: 5px !important;
}

.blog-footer.single a p {
  margin: 4px 0 0 0;
}

.blog-footer.single .title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@-webkit-keyframes translate {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-25px);
    -moz-transform: translateY(-25px);
    transform: translateY(-25px);
  }
}

@-moz-keyframes translate {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-25px);
    -moz-transform: translateY(-25px);
    transform: translateY(-25px);
  }
}

@-moz-keyframes translate {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-25px);
    -moz-transform: translateY(-25px);
    transform: translateY(-25px);
  }
}

.animation-loading {
  width: 100%;
  -webkit-animation: translate .3s ease forwards;
  -moz-animation: translate .3s ease forwards;
  animation: translate .3s ease forwards;
}

.blog-main.single [data-oembed-type="video"] {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 51%;
  margin-bottom: 100px;
  margin-top: 100px;
}

.blog-main.single iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0; top: 0;
}

.blog-main.single p {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 35px;
}

.blog-main.single li {
  margin-left: 40px;
  list-style-type: disc;
}

.blog-main.single img {
  width: 100%;
  height: auto;
}

.blog-main.single .image-full-width + .image-label, .blog-main .image-full-column + .image-label, .blog-main .image-overflow-both + .image-label {
  width: 100%;
}

.block-img {
  margin-bottom: 0;
}

.blog-main.single .image-label {
  display: block;
  text-align: center;
  font-style: italic;
  font-size: 14px;
  color: #9494AF;
  margin: 0;
}

.blog-main.single .block-quotation {
  display: inline-block;
  font-style: italic;
  font-size: 24px;
}

.blog-main.single .block-quotation:before { content: "« "; opacity: 0.4; }

.blog-main.single .block-quotation:after { content: " »"; opacity: 0.4; }

.blog-main.single .block-citation {
  display: inline-block;
  font-style: italic;
  border-left: solid #B4B4B4 4px;
  padding-left: 10px;
}

@media (max-width: 767px) {

  .blog-main {
    font-size: 16px;
  }

  .blog-main pre {
    font-size: 14px;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 20px;
    margin-bottom: 14px;
  }

  h3 {
    font-size: 18px;
    margin-bottom: 14px;
  }

  .blog-header .wrapper {
    width: 80%;
  }

  .blog-header.blog .blog-title {
    font-size: 34px;
  }

  .blog-header.author .image {
    width: 80px;
    height: 80px;
    margin-bottom: 30px;
  }

  .blog-header.author .image::before {
    width: 113px;
    height: 113px;
  }

  .blog-header {
    color: #fff;
    padding: 5px;
    height: 40px;
  }

  .blog-header.home {
    background-image: none;
  }

  .blog-footer {
    font-size: 12px;
  }

  .blog-footer .menu {
    padding: 14px;
  }

  .blog-footer .label {
    font-size: 10px;
  }

  .blog-footer .label::before {
    font-size: 8px;
  }

  .blog-footer.single .title {
    max-width: 130px;
  }

  .blog-footer .previous .label::before {
    margin-right: 4px;
  }

  .blog-footer .next .label::after {
    margin-left: 4px;
  }

  .blog-footer .previous, .blog-footer .next {
    padding: 10px;
  }

  .blog-post-meta, .blog-post-meta .tags::before, .blog-post-meta .categories::before, .blog-post-meta .author::before {
    font-size: 12px;
  }

  .blog-footer.single .menu::before {
    font-size: 22px;
  }

  .blog-header.search .description {
    display: none;
  }

  .slides .button {
    padding: 1.5rem;
    width: auto;
  }
}

@media screen and (min-width: 768px) {

  h1 {
    line-height: 65px;
    font-size: 62px; 
  }

  .blog-header h1{
    font-weight: 200;
  }

  .blog-header h1 strong{
    font-weight: 900;
  }

  .shortlede{
    font-size: 20px;
    line-height: 27px;
  }

  h2 {
    font-size: 35px;
    line-height: 40px;
  }

  h3 {
    font-size: 30px;
    margin: 24px 0;
  }

  .blog-header.author {
    height: 60vh;
  }

  .blog-header.author .image {
    width: 103px;
    height: 103px;
    margin-bottom: 40px;
  }

  .blog-header.author .image::before {
    width: 143px;
    height: 143px;
  }

  .blog-main {
    font-size: 20px;
  }

  .blog-main pre {
    font-size: 16px;
  }

  .blog-footer.single a {
    padding: 10px;
  }

  .blog-footer.single a.previous {
    padding-left: 10%;
  }

  .blog-footer.single a.next {
    padding-right: 10%;
  }

  .blog-footer.single a {
    padding: 20px;
  }

  .blog-footer.single .menu {
    padding: 18px;
  }

  .blog-footer.single .label {
    font-size: 14px;
  }

  .blog-footer.single .title {
    max-width: 200px;
    font-size: 18px;
  }

  .blog-footer.single .previous .label::before {
    margin-right: 15px;
  }

  .blog-footer.single .next .label::after {
    margin-left: 15px;
  }

  /* Blog post images */

  .blog-main.single .image-left {
    display: block;
    float: left;
    width: 66%;
    padding-right: 40px;
    margin-top: 0;
  }

  .blog-main.single .image-left, .blog-main.single .image-left + .image-label {
    margin-bottom: 20px;
  }

  .blog-main.single .image-full-column {
    display: block;
    width: 100%;
    margin: 40px 0;
    float: left;
  }

  .blog-main.single .image-full-column + .image-label {
    margin-top: 40px;
  }

  .blog-main.single .image-overflow-both, .blog-main.single .image-full-width {
    margin-top: 40px;
  }

  .blog-main.single .image-full-width + .image-label, .blog-main.single .image-overflow-both + .image-label {
    margin-bottom: 40px;
  }

  .blog-main.single .image-left + .image-label, .blog-main.single .image-full-column + .image-label {
    position: absolute;
    width: 100px;
    left: -110px;
    border-right: solid #9494AF 7px;
    padding-right: 10px;
    padding-bottom: 30px;
    text-align: right;
  }

  .blog-main.single .image-overflow-left {
    display: block;
    float: left;
    width: 70%;
    padding-right: 40px;
    margin-left: -50px;
  }

  .blog-main.single .image-overflow-left > img, .blog-main.single .image-overflow-both > img {
    right: -50px;
    width: 100%;
    height: auto;
  }

  .blog-main.single .image-overflow-left + .image-label {
    width: 70%;
    margin-bottom: 20px;
    float: left;
    padding-right: 40px;
    margin-left: -50px;
  }

  .blog-main.single .image-overflow-both {
    display: block;
    width: 130%;
    margin-left: -15%;
  }

  .blog-main.single .image-full-width {
    width: 100vw;
    -ms-transform: translate(-50%);
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    margin-left: 50%;
  }

  .blog-main.single .block-quotation {
    width: 80%;
    margin: 40px 10%;
    font-size: 30px;
    padding: 20px 0;
    line-height: 44px;
  }

  .blog-main.single .block-citation {
    margin: 20px 0;
  }

  .blog-post-meta, .blog-post-meta .tags::before, .blog-post-meta .categories::before, .blog-post-meta .author::before {
    font-size: 16px;
  }

  .blog-footer.single .menu::before {
    font-size: 30px;
  }

  .blog-header .description {
    font-size: 20px;
  }

  .blog-header .meta {
    font-size: 16px;
  }

  .section-header-col-2-centered p{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    font-size: 18px;
    color: #686868;
  }
}

/* vh vw fallback for ios7 */

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {

  .main .blog-header.author {
    height: 512px;
  }

  .main .blog-header.author, .blog-header.category {
    height: 512px;
  }

  .main .blog-header.single, .blog-header.home {
    height: 1024px;
  }

  .main .blog-footer.single .previous, .blog-footer.single .next {
    max-width: 353px;
  }

  .main .blog-main.single .image-full-width {
    width: 768px;
  }
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape){

  .main .blog-header.author {
    height: 384px;
  }

  .main .blog-header.author, .blog-header.category {
    height: 384px;
  }

  .main .blog-header.single, .blog-header.home {
    height: 768px;
  }

  .main .blog-footer.single .previous, .blog-footer.single .next {
    max-width: 265px;
  }

  .main .blog-main.single .image-full-width {
    width: 768px;
  }
}

@media screen and (device-aspect-ratio: 40/71) {

  .main .blog-header.author {
    height: 265px;
  }

  .main .blog-header.author, .main .blog-header.category {
    height: 265px;
  }

  .main .blog-header.single, .main .blog-header.home {
    height: 530px;
  }

  .main .blog-footer.single .previous, .main .blog-footer.single .next {
    max-width: 182px;
  }

  .main .blog-main.single .image-full-width {
    width: 530px;
  }
}

.mouse_scroll {
  display: block;
  width: 24px;
  height: 100px;
  position: absolute;
  bottom: -120px;
}

.mouse
{
  height: 33px;
  width: 20px;
  border-radius: 14px;
  transform: none;
  border: 2px solid white;
  top: 0px;
}

.wheel
{
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;
  
  height: 4px;
  width: 4px;
  border: 2px solid #fff;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  

}

.wheel
{
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
}



@-webkit-keyframes mouse-wheel
{
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@-moz-keyframes mouse-wheel
{
  0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}


